{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ webhook }}" data-toggle="tooltip" title="Webhook" class="btn btn-info"><i class="fa fa-retweet"></i></a>
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mode">{{ entry_mode }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_mode" id="input-mode" class="form-control">
                {% if payment_asaas_pix_mode %}
                <option value="1" selected="selected">{{ text_prod }}</option>
                <option value="0">{{ text_sand }}</option>
                {% else %}
                <option value="1">{{ text_prod }}</option>
                <option value="0" selected="selected">{{ text_sand }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-key">{{ entry_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_asaas_pix_api_key" value="{{ payment_asaas_pix_api_key }}" placeholder="{{ entry_key }}" id="input-key" class="form-control" />
              {% if error_key %}
              <div class="text-danger">{{ error_key }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-wb">{{ entry_wb }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_asaas_pix_wb" value="{{ payment_asaas_pix_wb }}" placeholder="{{ entry_wb }}" id="input-wb" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
		      <label class="col-sm-2 control-label">{{ entry_doc }}</label>
			    <div class="col-sm-10">
			      <select name="payment_asaas_pix_doc" id="input-doc" class="form-control">
				    <option value="0">{{ text_none }}</option>
				    {% for custom_field in custom_fields  %}
				    {% if custom_field.location == 'account' %}
					  {% if payment_asaas_pix_doc == custom_field.custom_field_id %}
					  <option value="{{ custom_field.custom_field_id }}" selected>{{ custom_field.name }}</option>
					  {% else %}
					  <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
					  {% endif %}
					  {% endif %}
					  {% endfor %}
			      </select>
			      {% if error_doc %}
            <div class="text-danger">{{ error_doc }}</div>
            {% endif %}	 
			    </div>
		      </div>
          <div class="form-group">
		      <label class="col-sm-2 control-label">{{ entry_doc1 }}</label>
			    <div class="col-sm-10">
			      <select name="payment_asaas_pix_doc1" id="input-doc1" class="form-control">
				    <option value="0">{{ text_none }}</option>
				    {% for custom_field in custom_fields  %}
				    {% if custom_field.location == 'account' %}
					  {% if payment_asaas_pix_doc1 == custom_field.custom_field_id %}
					  <option value="{{ custom_field.custom_field_id }}" selected>{{ custom_field.name }}</option>
					  {% else %}
					  <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
					  {% endif %}
					  {% endif %}
					  {% endfor %}
			      </select>	 
			    </div>
		      </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_asaas_pix_order_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status2">{{ entry_order_status2 }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_order_status_id2" id="input-order-status2" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_asaas_pix_order_status_id2 %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status3">{{ entry_order_status3 }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_order_status_id3" id="input-order-status3" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_asaas_pix_order_status_id3 %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status4">{{ entry_order_status4 }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_order_status_id4" id="input-order-status4" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_asaas_pix_order_status_id4 %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status5">{{ entry_order_status5 }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_order_status_id5" id="input-order-status5" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_asaas_pix_order_status_id5 %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_asaas_pix_status" id="input-status" class="form-control">
                {% if payment_asaas_pix_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_asaas_pix_sort_order" value="{{ payment_asaas_pix_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 